
#section1 {
    width: 100%;
    background-color: var(--bg-color);
    height: fit-content;
  }

  #left {
    text-align: center;
    width:40%;
    float: left;
    background-color: var(--bg-color);
    padding: 4rem;
    padding-bottom: 0rem;
    height: 70%;
  }
  
  #left p {
    background-color: #484848;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    border: 8px inset gray /*var(--bg-color); */
  }
  
  #right {
    text-align: center;
    width:40%;
    float: right;
    background-color: var(--bg-color);
    padding: 2rem;
    height: 22rem;
    font-size: 1.6rem;
    left: 50%;
  }
  
  #right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }